
.tags-select-col {
    position: relative;
    top: 15px;
    margin: 0;
    border-radius: .4rem;
    height: 45px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.tags-select-col .select-wrapper {
    top: 5px;
}
.tags-select-col .select-wrapper input {
    color: var(--theme-secondary);
}
@media screen and (max-width: 992px) {
    .tags-select-col {
        top: 0;
        width: calc(100vw - 45px) !important;
        margin-left: 15px !important;
    }
}

#list-view-collection .app-a {
    background: rgba(var(--theme-surface-rgb), 0.8);
}
#list-view-collection .app-a:hover {
    background: var(--theme-surface-1);
}
#list-view-collection .app-name {
    font-size: 1.3rem;
    position: relative;
    margin-left: 1rem;
    bottom: 2px;
}
#list-view-collection .app-description {
    margin-left: .4rem;
}
#list-view-collection .app-icon {
    height: 24px;
    position: relative;
    top: 4px;
}
#list-view-collection {
    border: 0;
}
#list-view-collection .data-source-container {
    position: relative;
    top: 6px;
}
#list-view-collection .material-icons-outlined {
    font-size: 1.2rem;
    position: relative;
    margin-left: .5rem;
    top: 1px;
}