{% extends "docs_system/docs-base.html" %}

{% block tabs %}
    <li class="tab"><a class="active" href="#data-sources-main">Data Sources</a></li>
    <li class="tab"><a href="#data-sources-platforms">Platforms</a></li>
    <li class="tab"><a href="#data-sources-create">Creating Platforms</a></li>
    <li class="tab"><a href="#data-sources-methods">Platform Methods</a></li>
{% endblock tabs %}

{% block tabs_content %}
    <div id="data-sources-main" class="col s12">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            {{ data_sources_main_html|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="data-sources-platforms" class="col s12">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            {{ data_sources_html|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="data-sources-create" class="col s12">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            {{ creating_platforms_html|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="data-sources-methods" class="col s12">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            {{ platform_methods_html|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock tabs_content %}