alembic==1.3.3
aniso8601==8.0.0
bcrypt==3.1.7
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Caching==1.8.0
Flask-Login==0.4.1
Flask-Migrate==2.5.2
Flask-RESTful==0.3.7
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
gunicorn==20.0.4
htmlmin==0.1.12
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
jsmin==2.2.2
Mako==1.1.1
MarkupSafe==1.1.1
pycparser==2.19
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2019.3
requests==2.22.0
six==1.14.0
SQLAlchemy==1.3.13
urllib3==1.25.8
Werkzeug==0.16.1
WTForms==2.2.1
transmissionrpc
markdown2