
@media (min-width: 990px)
{
    body {
        overflow: hidden !important;
    }
}

@media (max-width: 990px)
{
    body {
        max-height: 200vh !important;
    }
}

.settings-page-card-right {
    max-height: calc(100vh - 142px) !important;
    min-height: calc(100vh - 142px) !important;
}
.settings-page-card-left {
    max-height: calc(100vh - 130px) !important;
    min-height: calc(100vh - 130px) !important;
}

#apps .dropdown-content {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: var(--theme-surface-1);
}

#settings-readme h5, #cards-readme h5, #data-sources-readme h5 {
    color: var(--theme-primary);
    margin-top: 5%;
}
#settings-readme h4, #cards-readme h4, #data-sources-readme h4 {
    color: var(--theme-color-font-muted);
    margin-top: 5%;
}
#configini-readme {
    margin-top: 2% !important;
}
#settings-readme code, #cards-readme code, #data-sources-readme code {
    -webkit-touch-callout: all;
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
    cursor: text;
    white-space: pre-wrap;
}
#settings-readme th, #cards-readme th, #data-sources-readme th {
    color: var(--theme-primary);
}
#settings-readme td, #cards-readme td, #data-sources-readme td {
    -webkit-touch-callout: text !important;
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
    cursor: text;
}
#settings-readme strong, #cards-readme strong, #data-sources-readme strong {
    font-weight: 900;
}