/* UTILITY CLASSES */
.ignore-css {
    all: unset;
}

.pointer {
    cursor: pointer;
}

.selectable-all {
    -webkit-touch-callout: all;
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

.selectable {
    -webkit-touch-callout: text !important;
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}

.no-vis {
    visibility: hidden;
}
.filtered {
    display: none !important;
}

.scrollbar {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

/* ELEMENT STLYES */
body {
    overflow: scroll;
    overflow-x: hidden !important;
    min-height: 100%;
    color: var(--theme-color-font);
    background-color: var(--theme-background);
    /*disable cursor highlight by default*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome, Opera and Firefox */
    scrollbar-color: var(--theme-primary) !important;
    scrollbar-width: thin;
}

html {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--theme-color-font);
}

hr {
    color: var(--theme-secondary);
}

a {
    color: var(--theme-primary);
}

blockquote {
    border-left: 5px solid var(--theme-primary);
}

/* SCROLLBARS */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--theme-primary);
    border-radius: 24px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--theme-primary);
    border-radius: 24px;
}

::-webkit-scrollbar-corner {
    height: 0px;
}

/* FORM STYLES */

input[type='checkbox'] + span:not(.lever):before,
input[type='checkbox']:not(.filled-in) + span:not(.lever):after {
    border-radius: 4px !important;
    opacity: .6;
}

input {
    color: var(--theme-color-font);
    -webkit-touch-callout: text !important;
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}

textarea {
    color: var(--theme-color-font);
    -webkit-touch-callout: text !important;
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}

input:disabled {
    color: var(--theme-secondary);
}

/* label color */
.input-field label {
    color: var(--theme-secondary) !important;
}

/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label {
    color: var(--theme-primary) !important;
}

/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=password]:focus{
    border-bottom: 1px solid var(--theme-primary) !important;
    box-shadow: 0 1px 0 0 var(--theme-primary) !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: var(--theme-primary) !important;
}

/* Password fields ------------------------*/

/* label focus color */
.input-field input[type=password]:focus + label {
    color: var(--theme-primary) !important;
}

/* label underline focus color */
.input-field input[type=password]:focus {
    border-bottom: 1px solid var(--theme-primary) !important;
    box-shadow: 0 1px 0 0 var(--theme-primary) !important;
}

/* change colour of filled in check box */
.checkbox-orange[type="checkbox"].filled-in:checked + span:not(.lever):after {
    border: 2px solid var(--theme-primary);
    background-color: var(--theme-primary);
}

.input-field select {
    font-size: 13.5px !important;
}

.input-field input[type=text]:not(.card-filter),
.input-field input[type=password]:not(.card-filter){
    font-size: 13.5px !important;
    line-height: 2 !important;
    max-height: 30px;
}

.input-field > label {
    font-size: .9rem;
    webkit-transform: unset;
    transform: unset;
}
.input-field .prefix {
    top: 0;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: var(--theme-primary);
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: var(--theme-primary);
}

.input-field textarea:focus {
    border-bottom: 1px solid var(--theme-primary) !important;
    box-shadow: 0 1px 0 0 var(--theme-primary) !important;
}

::-webkit-input-placeholder {
    color: var(--theme-secondary);
}

::-moz-placeholder {
    color: var(--theme-secondary);
}

::placeholder {
    color: var(--theme-secondary);
}

.mce-fullscreen {
    z-index: 102 !important;
}

.select-wrapper .dropdown-trigger {
    height: 2rem !important;
    margin: 0px !important;
}

.select-wrapper .caret {
    fill: var(--theme-secondary);
}

.dropdown-content {
    border-radius: 10px;
    background: var(--theme-surface);
}

.dropdown-content li > a, .dropdown-content li > span {
    font-size: 14px;
}

.dropdown-content li:hover,
.dropdown-content li.active {
    background-color: var(--theme-background);
}

.dropdown-content li > a:hover,
.dropdown-content li > a.active,
.dropdown-content li > span:hover,
.dropdown-content li > span.active {
    background-color: var(--theme-background);
}

.dropdown-content li {
    color: var(--theme-color-font);
}

.dropdown-content li > span {
    min-height: 50px;
}

.autocomplete-content li .highlight {
    color: var(--theme-primary);
}
.subfield-text-input {
    position: relative;
    top: 6px;
}

/* END FORM STYLES */

/* SIDENAV*/
#show-sidenav {
    position: fixed;
    bottom: 10px;
    left: 0px;
    height: 40px;
    width: 48px;
    z-index: 9999;
    border-radius: 0 10px 10px 0;
    background: var(--theme-primary);
}
#show-sidenav .material-icons-outlined {
    font-size: 32px;
    position: relative;
    left: 15px;
    top: 5px;
}
.sidenav-main .sidenav-collapsible {
    border-radius: 0px;
    background-color: var(--theme-surface);
}

.sidenav li > a > i.material-icons-outlined {
    color: var(--theme-color-font-muted);
}

.sidenav li > a:not(.active):hover {
    background-color: var(--theme-background) !important;
}

.sidenav li a {
    color: var(--theme-color-font);
}

.brand-sidebar {
    background: var(--theme-surface);
}

.nav-wrapper {
    background: var(--theme-surface);
}

#logout-nav-btn:hover {
    background-color: rgba(0,0,0,0);
}

.navbar-fixed {
    z-index: 101;
}

.navbar .navbar-light ul a {
    color: var(--theme-color-font);
}
/*@media (min-width: 900px)*/
/*{*/
/*    .sidenav-overlay*/
/*    {*/
/*        display: none !important;*/

/*        opacity: 0 !important;*/
/*    }*/
/*}*/

/* MODALS AND CARDS */
.modal {
    background-color: var(--theme-surface);
    border-radius: 12px !important;
    position: fixed;
}

.modal .modal-footer {
    background-color: var(--theme-surface-1);
}

@media only screen and (max-width: 992px) {
    .modal {
        width: 100vw !important;
        max-height: 90%;
    }
}

.full-height-modal {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0 !important;
}

.three-qtr-height-modal {
    height: 85%;
    min-height: 85%;
    max-height: 85%;
    position: fixed;
    top: unset !important;
    bottom: 0;
}


.card {
    border-radius: 8px;
    background: var(--theme-surface);
}


/* TABS */
.tabs {
    background: var(--theme-surface);
}

.tabs .tab a {
    color: var(--theme-primary);
    border-radius: 10px;
}

.tabs .tab a:hover {
    color: var(--theme-primary);
}

.tabs .tab a.active {
    color: var(--theme-primary);
}

.tabs .indicator {
    background-color: var(--theme-primary);
}

/* CHIPS */
.chips .autocomplete-content {
    width: 18vw !important;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: var(--theme-secondary);
}

.chips .autocomplete-content li .highlight {
    color: var(--theme-primary);
}

.chips .input {
    min-width: 320px !important;
    font-size: 12px;
    color: var(--theme-color-font);
}

.chips {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.chip {
    background-color: var(--theme-background);
    color: var(--theme-color-font);
}

/* COLLECTIONS */
.collection {
    border-radius: 8px;
    border-color: var(--theme-surface-2);
}

.collection .collection-item {
    background-color: var(--theme-surface-1);
    border-color: var(--theme-surface-2);
}

.collection.with-header .collection-header {
    background-color: var(--theme-surface);
    border-bottom: 0;
}

.collection a.collection-item:not(.active):hover {
    background-color: var(--theme-surface-2);
}

.collection-icon {
    margin-left: 5px;
    margin-right: 5px;
}

/* DATE AND TIME PICKERS */
.datepicker-date-display {
    background-color: var(--theme-primary)
}

.datepicker-cancel {
    color: var(--theme-primary)
}

.datepicker-done {
    color: var(--theme-primary)
}

.datepicker-modal {
    border-radius: 12px;
    z-index: 2001 !important;
}

.is-today {
    color: var(--theme-primary) !important
}

.is-selected {
    background-color: var(--theme-primary) !important
}

.timepicker-close {
    color: var(--theme-primary)
}

.timepicker-digital-display {
    background: var(--theme-primary)
}

.timepicker-canvas-bg,
.timepicker-canvas-bearing {
    fill: var(--theme-primary);
}

.timepicker-canvas line {
    stroke: var(--theme-primary);
}

.timepicker input[type=text]:not(.browser-default) {
    border-bottom: 1px solid var(--theme-primary) !important;
    box-shadow: 0 1px 0 0 var(--theme-primary) !important;
}

.date-field, .time-field {
    color: var(--theme-primary) !important;
    max-width: 60px;
    max-height: 20px;
    margin: 0 !important;
    border: 0 !important;
    cursor: pointer;
    font-size: 13.5px !important;
    position: relative;
    bottom: 6px;
}

.date-field:focus {
    color: var(--theme-primary) !important;
}


/* "CARD FILTER" GLOBAL SEXY SEARCH BAR */
.card-filter-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: transparent;
}

.card-filter-container .input-field .card-filter {
    margin: 0px !important;
    padding-left: 2.75rem !important;
    border: none !important;
    border-radius: .4rem !important;
    background-color: var(--theme-surface-1);
    font-size: 14px;
    line-height: 4;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.card-filter-container .input-field .card-filter::placeholder {
    line-height: 4;
}

.card-filter-container .input-field .card-filter:focus {
    border-bottom: none !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2) !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2) !important;
}

.card-filter-container .card-search-icon {
    top: 8px;
    left: 20px;

    color: var(--theme-secondary);
}

.card-filter-container .filter-action {
    position: relative;
    margin-bottom: -23px;
    bottom: 35px;
    right: 15px;
    color: var(--theme-secondary);
}

/* CARD SECTIONS USED IN DEALS AND PROFILES */
.tabs-card {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    z-index: 1;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0);
}

.filter-card {
    border-radius: 0 0 0 0 !important;
    z-index: 3;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.rows-card {
    z-index: 2;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

/* FEED */
#feed-body {
    min-height: calc(100vh - 220px);
    max-height: calc(100vh - 220px);
}
#slide-out-right.sidenav #activity .header-search-input {
    background-color: var(--theme-background);
}

#slide-out-right.sidenav {
    max-height: calc(100vh - 64px);
    bottom: 0;
    top: unset;
    width: 380px;
    z-index: 100;
}

.slide-out-right-body {
    overflow: hidden;
}

.sidenav {
    background-color: var(--theme-surface);
    top: unset;
    overflow-y: scroll;
    scrollbar-width: none;
}

#sidenav-mobile-toggle-btn {
    position: fixed;
    top: unset;
    bottom: 10px;
}
.sidenav-active-rounded .sidenav li > a.active > i {
    color: var(--theme-on-primary) !important;
}
.sidenav-active-rounded .sidenav li > a.active > span {
    color: var(--theme-on-primary) !important;
}
.sidenav-active-rounded .sidenav li > a.active {
    min-width: 3.6rem;
}

.border-bottom-1 {
    border-bottom: 1px solid var(--theme-background);
}

#feed-rows-ul .feed-item-li {
    background-color: var(--theme-surface);
}

/* Settings collapsible */
.settings-collapsible {
    border-radius: 12px;
    border: transparent;
}

.settings-collapsible li {
    background-color: var(--theme-surface-1);
    border-radius: 12px;
    border: transparent;
}

.settings-collapsible .collapsible-header {
    border-radius: 12px;
    border: transparent;
    background-color: var(--theme-surface-1);
}

.settings-collapsible .collapsible-body {
    border-radius: 12px;
    border: transparent;
    background-color: var(--theme-surface-1);
}

.settings-collapsible .collection-item {
    border: transparent;
}

/* MISC COMPONENTS */
.divider {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: var(--theme-surface-2);
}

span.badge.new {
    font-size: 14px;
    font-weight: 500;
    float: unset;
}

#breadcrumbs-wrapper {
    padding-top: 0px;
    padding-bottom: 10px;
    background: var(--theme-background);
}

.toast {
    border-radius: 10px !important;
}

@media screen and (min-width: 992px)
{
    #toast-container {
        top: auto !important;
        right: auto !important;
        bottom: 94%;
        left: 35%;
    }
}

.material-tooltip {
    max-width: 25vh;
}

.task-filter-button {
    margin: 5px;
    font-weight: bolder;
}

.avatar-img {
    background-color: #fff;
}

.big-icon-btn {
    width: 100%;
    border-radius: 20px;
    padding: 15px;
    background: var(--theme-surface-1);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.big-icon-btn .material-icons-outlined {
    font-size: 5rem;
    color: var(--theme-secondary);
}

.icon-btn, .icon-btn-warning {
    padding: 5px;
    cursor: pointer;
    border-radius: 24px;
}

.icon-btn:hover {
    color: var(--theme-on-primary) !important;
    background-color: var(--theme-primary);
    border-radius: 24px;
    padding: 5px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.icon-btn-warning:hover {
    color: white !important;
    background-color: var(--theme-warning);
    border-radius: 24px;
    padding: 5px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.label-filter .material-icons-outlined,
.contact-filter .material-icons-outlined,
.deal-filter .material-icons-outlined,
.task-filter .material-icons-outlined {
    position: relative;
    top: 6px
}

.deals-collection .deal-row-img {
    height: 64px;
    border-radius: 12px;
}

.progress {
    background-color: var(--theme-background);
}

.progress .determinate {
    background-color: var(--theme-primary);
}

.task-type-icon {
    background: var(--theme-primary);
    border-radius: 24px;
    padding: 5px;
    font-size: 16px;
    position: relative;
    right: 10px;
}

/*FAB*/
.tap-target-wave::before, .tap-target-wave::after {
    background-color: var(--theme-background);
}
