<ul class="navbar-list" style="margin-left: 64px;">
  {% if rp == "contacts" %}
  <li><a class="waves-effect waves-block waves-light theme-primary-text" href="{{ url_for('contacts_system.contacts') }}">Contacts</a></li>
  {% if pp %}
  <li><i class="material-icons theme-secondary-text">keyboard_arrow_right</i></li>
  <li><a class="waves-effect waves-block waves-light theme-primary-text"
         href="{{ url_for('contacts_system.contact', contact_id=ppid, rp="contacts") }}">{{ pp }}</a></li>
  {% endif %}
  {% elif rp == "emails" %}
  <li><a class="waves-effect waves-block waves-light theme-primary-text" href="{{ url_for('email_system.mail') }}">Mail</a></li>
  {% if pp %}
  <li><i class="material-icons theme-secondary-text">keyboard_arrow_right</i></li>
  <li><a class="waves-effect waves-block waves-light theme-primary-text show-email-btn pointer"
         data-id="{{ppid}}"
         data-url="{{url_for('email_system.loadEmailContent')}}">{{ pp }}</a></li>
  {% endif %}
  {% elif rp == "deals" %}
  <li><a class="waves-effect waves-block waves-light theme-primary-text" href="{{ url_for('deals_system.deals') }}">Deals</a></li>
  {% if pp %}
  <li><i class="material-icons theme-secondary-text">keyboard_arrow_right</i></li>
  <li><a class="waves-effect waves-block waves-light theme-primary-text"
         href="{{ url_for('deals_system.deal', deal_id=ppid, rp="deals") }}">{{ pp }}</a></li>
  {% endif %}
  {% endif %}
  <li><i class="material-icons theme-secondary-text">keyboard_arrow_right</i></li>
  <li class="theme-secondary-text">{{ current_page }}</li>
</ul>
