{% extends "main/layout.html" %}
{% from 'global_macros.html' import ActionBar %}
{% from 'main/cards.html' import HomeCards %}

{% block page_vendor_css %}
{% endblock page_vendor_css %}

{% block page_lvl_css %}
    {{ process_css_sources(src="main/home.css")|safe }}
{% endblock page_lvl_css %}

{% block content %}
    <div id="main" class="main-full">
        <div class="container">
            {{ ActionBar(tags, location="home") }}
            <div id="home-cards-container"
                 data-url="{{ url_for('main.load_apps', home="true") }}"
                 class="row">
                {{ HomeCards(apps, tags) }}
            </div>

            {% if access_group.can_access_card_editor == "True" and access_group.can_see_sidenav == "True" %}
                <div class="fixed-action-btn">
                    <a id="card-editor-add-from-home-btn" href="#" data-target="card-editor-sidenav" class="btn-floating theme-primary card-editor-add-from-home-btn sidenav-trigger">
                        <i class="material-icons-outlined theme-on-primary-text">add</i>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block page_vendor_js %}
{% endblock page_vendor_js %}

{% block page_lvl_js %}
    {{ process_js_sources(src="main/home.js")|safe }}
{% endblock page_lvl_js %}