{% extends "main/base.html" %}

{% block header %}
    <!-- BEGIN: Header-->

    <!-- END: Header-->
{% endblock header %}

{% block sidenav %}
    <!-- BEGIN: SideNav-->
    <aside class="sidenav-main nav-collapsed nav-collapsible sidenav-light sidenav-active-rounded z-depth-2">
        <div class="brand-sidebar noselect" style="overflow: hidden;">
            <h1 class="logo-wrapper hide-on-med-and-down"><a class="brand-logo darken-1" href="{{ url_for('main.home') }}"><img id="TCM-nav-logo" src="static/images/logo/logo.svg" alt="DashMachine logo"/><span class="logo-text theme-secondary-text"> </span></a></h1>
        </div>
        <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow" id="slide-out" data-menu="menu-navigation" data-collapsible="accordion">
            <li class="bold"><a id="dashboard-sidenav" class="waves-effect waves-cyan" href="{{ url_for('main.home') }}">
                <i class="material-icons-outlined">dashboard</i>
                <span class="menu-title" data-i18n="">Dashboard</span>
            </a></li>

            {% for app in apps %}
                <li class="bold">
                    {% if app.open_in == 'iframe' %}
                        <a id="dashboard-sidenav" class="waves-effect waves-cyan" href="{{ url_for('main.app_view', url=app.url) }}">
                    {% elif app.open_in == "new_tab" %}
                        <a id="dashboard-sidenav" class="waves-effect waves-cyan" href="{{ app.prefix }}{{ app.url }}" target="_blank">
                    {% endif %}
                    <img src="{{ app.sidebar_icon }}" style="position: relative; top: 5px; left: 2px; margin-right: 18px; height: 24px">
                    <span class="menu-title" data-i18n="">{{ app.name }}</span>
                </a></li>
            {% endfor %}

            <li class="bold"><a id="settings-sidenav" class="waves-effect waves-cyan" href="{{ url_for('settings_system.settings') }}">
                <i class="material-icons-outlined">settings</i>
                <span class="menu-title" data-i18n="">Settings</span>
            </a></li>

            <li class="bold"><a id="logout-sidenav" class="waves-effect waves-cyan" href="{{ url_for('user_system.logout') }}">
                <i class="material-icons-outlined">exit_to_app</i>
                <span class="menu-title" data-i18n="">Logout</span>
            </a></li>

        </ul>
        {#        <div class="navigation-background"></div><a class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only theme-primary" href="#" data-target="slide-out"><i class="material-icons-outlined">menu</i></a>#}
    </aside>
    <!-- END: SideNav-->

{% endblock sidenav%}

{% block footer %}
    <!-- BEGIN: Footer-->
    <!-- <footer class="page-footer footer footer-static footer-light navbar-border navbar-shadow">
      <div class="footer-copyright">
        <div class="container"><span>&copy; 2019 All rights reserved.</span><span class="right hide-on-small-only">DashMachine</span></div>
      </div>
    </footer> -->
    <!-- END: Footer-->
{% endblock footer %}
