{% extends "main/base.html" %}

{% block content %}
    <div class="row">
        <div class="col s12 l4 offset-l4">
            <div class="card">
                <div class="card-content">
                    <div class="row center-align mt-4">
                        <img width="120px" src="static/images/logo/logo.svg" alt="DashMachine Logo">
                    </div>
                    <div class="row">
                        <form class="login-form" method="POST">
                            {{ form.hidden_tag() }}

                            <div class="input-field col s12">
                                <i class="material-icons-outlined prefix">person</i>
                                {{ form.username(class="validate", id="username", type="text") }}
                                <label for="username" class="center-align">Username</label>
                            </div>

                            <div class="input-field col s12">
                                <i class="material-icons-outlined prefix">lock_outline</i>
                                {{ form.password(class="validate", id="password", type="password") }}
                                <label for="password">Password</label>
                            </div>

                            <div class="switch">
                                <label>
                                    {{ form.remember(type="checkbox", checked="true") }}
                                    <span class="lever"></span>
                                    Remember Me
                                </label>
                            </div>


                            <div class="input-field col s12">
                                <button type=submit class="btn theme-primary waves-effect waves-light right">Sign in</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
